.completeStep {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.completeStepButton {
  font-family: var(--ifm-font-family-base);
  font-size: 14px;
  font-weight: 600;
  background-color: #FFD748;
  color: #222222;
  border-radius: 4px;
  border: none;
  padding: 16px 8px;
  cursor: pointer;
}

.completeStepButton:disabled {
  background-color: #ECECEC;
  color: #9F9F9F;
  cursor: not-allowed;
}