$max-screen: 1248px;

:root {
  /* fonts */
  --body-l-bold: Inter;
  --type-button-primary: "IBM Plex Sans";

  /* font sizes */
  --font-size-45xl: 64px;
  --font-size-5xl: 24px;
  --body-l-bold-size: 20px;
  --body-s-bold-size: 12px;
  --body-m-regular-size: 16px;
  --font-size-sm: 14px;
  --font-size-17xl: 36px;

  /* Colors */
  --gray-6: #fafafa;
  --gray-3: #828282;
  --color-gold-100: #f9db4a;
  --primary-yellow: #fddc31;
  --primary-black: #000;
  --primary-white: #fff;
  --blue-5: #100b35;
  --useful-off-white: #f2f2f2;
  --gray-5: #e0e0e0;
  --color-theme-purple-01: #3e1bdb;
  --color-type-paragraph: #666;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-81xl: 100px;
  --br-11xs: 2px;
}

@mixin breakpoint($value, $width: max-width) {
  @media only screen and ($width: $value) {
    @content;
  }
}

@mixin mobilebreakpoint() {
  @include breakpoint(996px) {
    @content;
  }
}

.Landing {
  font-family: "Inter";
}

.hp-btn,
a.hp-btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  font-family: "IBM Plex Sans";

  &-primary {
    color: #3e1bdb;
    background-color: white;
  }

  &-secondary {
    color: black;
    background-color: #f9db4a;
  }
}

.hp-center {
  width: 100%;
  max-width: 78.125rem;
  margin: 0 auto;
}

.hp-center--sm {
  max-width: 30rem;

  @media screen and (min-width: 1024px) {
    max-width: 78.125rem;
  }
}

.hp-center--md {
  max-width: 38.25rem;

  @media screen and (min-width: 1024px) {
    max-width: 78.125rem;
  }
}

.hp-link,
a.hp-link {
  color: inherit;
  font-weight: 500;
  line-height: 175%;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  padding-bottom: 0.25rem;
}

.Hero {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #222222;
  padding: 4rem 2rem;
  min-height: 53.125rem;

  &__wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: -2px;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on, "ss04" on;
    max-width: 45rem;
  }

  &__right {
    max-width: 25.125rem;
    margin-top: 3rem;

    p {
      line-height: 175%;
      margin-bottom: 2rem;
    }
  }

  &__btn-group {
    display: flex;
    gap: 1.75rem;
  }

  @media screen and (min-width: 512px) {
    &__title {
      font-size: 6rem;
    }
  }

  @media screen and (min-width: 1024px) {
    &__wrapper {
      flex-direction: row;
      align-items: start;
    }
  }
}

.Designed {
  padding: 8rem 2rem;

  &__title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 110%;
    text-transform: capitalize;
    margin-bottom: 3rem;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media screen and (min-width: 1024px) {
    &__cards {
      flex-direction: row;
    }
  }
}

.DesignedCard {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 117%;

    height: 4rem;
    display: flex;
    align-items: last baseline;
    margin-bottom: 1rem;

    p {
      margin: 0;
      max-width: 16rem;
      margin-right: 0.5rem;
    }

    &::after {
      content: "";
      flex-grow: 1;
      height: 100%;
      border-bottom: 0.5px solid black;
      opacity: 0.2;
    }
  }

  &__wrapper {
    padding: 1.75rem;
    background: #f2f2f2;
    flex-grow: 1;

    p {
      font-size: 1.25rem;
      line-height: 160%;
    }
  }
}

.Learn {
  color: white;
  background-color: #222222;
  padding: 9.25rem 2rem;
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__left {
    max-width: 22.75rem;
    flex-shrink: 0;
    margin: 0 auto;

    p {
      line-height: 175%;
      color: #fafafa;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 2rem;
  }

  &__right {
    transform: translateX(5%);
  }

  &__code {
    font-family: "IBM Plex Sans";
    font-size: 1.25rem;
    line-height: 150%;
    /* or 150% */

    width: 100vw;
    flex-shrink: 0;
    background-color: #000;
    border: 1px solid #e0e0e0;
    padding: 2.625rem;
    border-radius: 6px;
    height: 17rem;
  }

  &__btn-group {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }

  @media screen and (min-width: 1024px) {
    &__wrapper {
      flex-direction: row;
    }
  }
}

.GettingStarted {
  padding: 8.75rem 2rem;

  &__title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    margin-bottom: 3rem;
  }

  &__cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 17.5rem;
  }
}

.GettingStartedCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #e0e0e0;
  padding: 1.5rem;

  &__index {
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 140%;
    color: #828282;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 110%;
    text-transform: capitalize;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 140%;
    opacity: 0.6;
    max-width: 16.625rem;
  }

  &__icon {
    margin-top: auto;
  }
}

.Earn {
  color: #fff;
  background-color: #222222;
  padding: 8.75rem 2rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 100%;
    text-transform: capitalize;
  }

  &__right {
    max-width: 38.25rem;

    p {
      margin-bottom: 2rem;
      line-height: 175%;
      opacity: 0.7;

      &:last-of-type {
        margin-bottom: 3rem;
      }
    }
  }
}

.SCF {
  padding: 10rem 2rem;

  &__wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 4rem;
  }

  &__left {
    flex: 1 1 0%;
  }

  &__right {
    max-width: 38.25rem;
  }

  &__title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 110%;
    text-transform: capitalize;

    span {
      display: block;
    }
  }

  &__subtitle {
    line-height: 175%;
    opacity: 0.7;
  }
}

.Soroban {
  background-color: #100b35;
  padding: 8.25rem 1rem;

  &__wrapper {
    max-width: 38.25rem;
    text-align: center;
    color: #fff;
  }

  h2 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 94%;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  p {
    line-height: 175%;
    opacity: 0.7;
  }
}

.Footer {
  background-color: #f9db4a;
  .hp-center {
    padding: 2.625rem 2rem;
  }
  &__wrapper {
    margin: 1rem auto 0 auto;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 4rem;
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }

  .social-icon {
    min-width: 4.375rem;
  }

  @media screen and (min-width: 1024px) {
    &__wrapper {
      max-width: none;
      flex-direction: row;
    }
  }
}

.SocialCard {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0d0d0d;
    margin: 0 2rem;
  }
  @media screen and (min-width: 1024px) {
    &__wrapper {
      max-width: none;
      flex-direction: row;
    }
  }
}
