/* @import url(@stellar/design-system/build/styles.min.css); */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

// @use './components/navbar';
// @use './components/sidebar';
// @use './components/toc';
// @use './components/doc-page';
// @use './components/footer';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3e1bdb;
  // --ifm-background-color: #ffffff;
  // --ifm-background-surface-color: #fafafa;

  // --ifm-spacing-horizontal: 1.5rem;
  // --ifm-toc-border-color: var(--ifm-color-emphasis-200);

  --ifm-font-family-base: 'IBM Plex Sans', sans-serif;
  --ifm-font-family-mono: 'IBM Plex Mono', monospace;
  // --ifm-code-font-size: 80%;
  // --ifm-heading-font-weight: 400;
  // --ifm-table-head-font-weight: 500;

  // --page-max-width: 100rem;

  // --ifm-table-head-background: transparent;
  // --ifm-table-stripe-background: var(--ifm-background-surface-color);
  // --ifm-table-border-color: var(--ifm-toc-border-color);

  // --ifm-color-primary-dark: #29784c;
  // --ifm-color-primary-darker: #277148;
  // --ifm-color-primary-darkest: #205d3b;
  // --ifm-color-primary-light: #33925d;
  // --ifm-color-primary-lighter: #359962;
  // --ifm-color-primary-lightest: #3cad6e;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #876fed;
  // --ifm-background-color: #292d3e;
  // --ifm-background-surface-color: #303448;

  // --ifm-color-primary-dark: #21af90;
  // --ifm-color-primary-darker: #1fa588;
  // --ifm-color-primary-darkest: #1a8870;
  // --ifm-color-primary-light: #29d5b0;
  // --ifm-color-primary-lighter: #32d8b4;
  // --ifm-color-primary-lightest: #4fddbf;
}

// .docusaurus-highlight-code-line {
//   background-color: rgba(0, 0, 0, 0.1);
//   display: block;
//   margin: 0 calc(-1 * var(--ifm-pre-padding));
//   padding: 0 var(--ifm-pre-padding);
// }

// [data-theme='dark'] .docusaurus-highlight-code-line {
//   background-color: rgba(0, 0, 0, 0.3);
// }

// img {
//   image-rendering: -moz-crisp-edges; /* Firefox */
//   image-rendering: -o-crisp-edges; /* Opera */
//   image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
//   image-rendering: crisp-edges;
//   -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
// }

// .navbar__brand::after,
// .theme-doc-sidebar-container > div > a::after {
//   content: 'Docs';
//   text-transform: uppercase;
//   border-radius: 0.125rem;
//   padding: 0.25rem 0.375rem;
//   font-weight: var(--ifm-font-weight-semibold);
//   line-height: 1;
//   font-size: 0.875rem;
//   color: #fff;
//   background-color: var(--ifm-color-primary);
// }

// svg[id^='mermaid-svg'] {
//   height: 100%;
//   padding: 2rem 0;
// }

p > code {
  white-space: nowrap;
}
.nav-highlight {
  background: #fca00c;
  color: #DF1302 !important;
  margin-left: 1rem;
  border-radius: 0.5rem;
  font-family: var(--ifm-font-family-mono);
  font-weight: 700;
}